<!DOCTYPE html>
<html lang="es"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{master.html}">
<head>
    <title>Inicio</title>
</head>
<body>

<div layout:fragment="contenido">
    <h1>Lista de personas</h1>

    <div class="text-end">
        <a href="/nuevo" class="btn btn-primary">Crear persona</a>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Sexo</th>
            <th>Casado?</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="persona : ${personas}" th:object="${persona}">
            <td th:text="*{id}"></td>
            <td th:text="*{nombre}"></td>
            <td th:text="*{edad}"></td>
            <td th:text="*{sexo}"></td>
            <td>
                <span class="badge bg-primary" th:if="*{!casado}">No</span>
                <span class="badge bg-danger" th:if="*{casado}">Sí</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>